@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #F2EFEB;
    --bg-sec-color: #D9C8B4;
    --fg-color: #403C3A;
    --fg-sec-color: #BEBDBF;
}

*{
    font-family: "Raleway",Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--fg-color);
    color: eb5e23;
    overflow-x: hidden;
}

nav{
    background-color: var(--bg-sec-color);
    color: var(--fg-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 6rem;
    height: 6rem;
    margin: 0;
    display: flex;
    text-decoration: none;
}

#logo span{
    color: var(--bg-color);
    font-size: 70px;
    position: relative;
}

#logo span:nth-of-type(1){
    z-index: 2;
    left: 21px;
}

#logo span:nth-of-type(2){
    z-index: 0;
    left: 20px;
}

#logo img{
    z-index: 1;
    position: relative;
    right: 60px;
}

#logo span:nth-of-type(3){
    z-index: 2;
    right: 80px;
}

#logo:hover span{
    color: var(--fg-color);
    transition: ease-in-out 1s;
}

#logo:hover > img{
    visibility: hidden;
    transform: rotateY(90deg);
    transition: ease-in 0.5s;
}

header > nav  button{
    background-color: transparent;
    color: var(--fg-color);
    font-size: large;
    border: none;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 10rem;
}

header > nav  button:hover{
    background-color: var(--fg-sec-color);
    transition: ease-in-out 0.5s;
}

header > nav  button.selected{
    background-color: var(--fg-color);
    color: var(--bg-sec-color);
}

#content{
    color: var(--fg-sec-color);
}

#content h1{
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    margin: 2rem 0;
}

#content p{
    font-size: 1.5rem;
    font-weight: 100;
    margin: 1rem 10%;
    text-align: left;

}

.slider{
    margin: 4rem 0 0 0;
    width: 100%;
    padding: 0;
    height: 20rem;
}

.slider:after{
    content: "Lovingly Crafted, Authentically Served";
    width: 100%;
    z-index: -1;
    position: absolute;
    right: 100%;
    top: 70%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: var(--fg-sec-color);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    animation: autoRun 30s linear;
}

.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(40rem * 5);
    position: relative;
}

.slider .list .item{
    width: 25rem;
    height: 20rem;
    position: absolute;
    left: 50%;
    animation: autoRunReverse 30s linear infinite;
    animation-delay: calc((30s / 10) * (var(--position) - 1));
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes autoRun{
    from{
        left: calc(20rem * -1);
    }
    to{
        left: 100%
    }
}

@keyframes autoRunReverse{
    from{
        left: 100%;
    }
    to{
        left: calc(25rem * -2);
    }
}

.slider:hover .item{
    animation-play-state: paused!important;
}

footer{
    color: var(--fg-sec-color);
    text-align: left;
    padding: 3rem 0 0 1rem;
}

footer a{
    text-decoration: none;
    color: var(--fg-sec-color);
}