@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-color: #F2EFEB;
    --bg-sec-color: #D9C8B4;
    --fg-color: #403C3A;
    --fg-sec-color: #BEBDBF;
}

*{
    font-family: "Raleway",Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--fg-color);
    color: eb5e23;
}

nav{
    background-color: var(--bg-sec-color);
    color: var(--fg-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#logo{
    width: 6rem;
    height: 6rem;
    margin: 0;
    display: flex;
    text-decoration: none;
}

#logo span{
    color: var(--bg-color);
    font-size: 70px;
    position: relative;
}

#logo span:nth-of-type(1){
    z-index: 2;
    left: 21px;
}

#logo span:nth-of-type(2){
    z-index: 0;
    left: 20px;
}

#logo img{
    z-index: 1;
    position: relative;
    right: 60px;
}

#logo span:nth-of-type(3){
    z-index: 2;
    right: 80px;
}

#logo:hover span{
    color: var(--fg-color);
    transition: ease-in-out 1s;
}

#logo:hover > img{
    visibility: hidden;
    transform: rotateY(90deg);
    transition: ease-in 0.5s;
}

header > nav  button{
    background-color: transparent;
    color: var(--fg-color);
    font-size: large;
    border: none;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    width: 10rem;
}

header > nav  button:hover{
    background-color: var(--fg-sec-color);
    transition: ease-in-out 0.5s;
}

header > nav  button.selected{
    background-color: var(--fg-color);
    color: var(--bg-sec-color);
}